/* ----------- Import CSS ------------ */

/* Animations */
@import url('./customanime.css');

/* Slider */
@import url('./slider.css');



/* ----------- Font faces ------------ */
@import url('//fonts.googleapis.com/css?family=Anton');
@font-face {
    font-family: 'IranSans';
    font-weight: 200;
    src: url('./fonts/IRANSansWeb200.woff') format('woff');
}

@font-face {
    font-family: 'IranSans';
    font-weight: 300;
    src: url('./fonts/IRANSansWeb300.woff') format('woff');
}

@font-face {
    font-family: 'IranSans';
    font-weight: 400;
    src: url('./fonts/IRANSansWeb400.woff') format('woff');
}

@font-face {
    font-family: 'IranSans';
    font-weight: 500;
    src: url('./fonts/IRANSansWeb500.woff') format('woff');
}

@font-face {
    font-family: 'IranSans';
    font-weight: 600;
    src: url('./fonts/IRANSansWeb600.woff') format('woff');
}

@font-face {
    font-family: 'IranSans';
    font-weight: 900;
    src: url('./fonts/IRANSansWeb900.woff') format('woff');
}

/* *********** */
body {
    font-family: IranSans;
    direction: rtl
}

a {
    text-decoration: none;
}

section{
    padding-bottom: 70px;
}

.section-header{
    text-align: center;
    padding: 70px 0;
}


/* ---------------------- header ---------------------- */
header {
    position: relative;
    overflow: hidden;
    height: 100vh;
    background: rgb(92, 0, 100);
    background: url('./img/slide1-bg.webp');
    background-size: contain;
    background-position: top;
}

nav{
    background: -webkit-linear-gradient(left,#82009f 0%,#5d34af 100%);
    background: linear-gradient(to right,#82009f 0%,#5d34af 100%);
    padding: 0 100px;
    top:-100%;
    animation: nav 1s ease forwards;
    -webkit-animation: nav 1s ease forwards;
}

/* stroke */
nav.stroke ul li a {
    position: relative;
}

nav.stroke ul li a:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background: #fff;
    height: 3px;
}

nav.stroke ul li a:hover:after {
    width: 100%;
}

nav .logo {
    padding: 10px 0 10px 0;
}

nav .logo img {
    max-width: 40px;
    max-height: 40px;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

nav .login{
    padding: 17px 0 15px 0;
    text-align: center;
}

nav .login>a{
    background-color: #fff;
    color: #82009f ;
    padding:5px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

nav ul {
    list-style: none;
    padding:15px;
    margin:0;
}

nav li {
    display: inline;
    padding: 0 20px;
    text-align: center;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    color: #fff;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

nav ul li a:hover {
    color: #fff;
}

/* --------------- info section --------------- */
#info .col-lg-4{
    padding: 0 50px;
    margin-bottom: 40px;
}
#info .shadowbox{
    padding: 20px;
    text-align: center;
    border-radius: 0.8rem;
    -webkit-border-radius: 0.8rempx;
    -moz-border-radius: 0.8rempx;
    -ms-border-radius: 0.8rempx;
    -o-border-radius: 0.8rempx;
    box-shadow: 0 .5rem 2rem rgba(0,0,0,.15)!important;
}
#info .shadowbox .card-title{
    padding: 10px 0;
    color: #2f0079;
}

/* ---------------- specs section ---------------- */
#specs img{
    display: inline-block;
    max-width: 100%;
    margin: 0 0 50px 0;
}
#specs li{
    padding: 5px 0;
}